{% extends "home1.html" %}   
{% load static %}
{% block content %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>About The CureNest</h1>
    <div>
        <img src="{% static 'img/36588.jpg' %}" width="60" height="70" srcset="">
    
    </div>
    <div>
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;"> 
             <img src="..." class="card-img-top" alt="..."> 
           <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card" style="width: 18rem;"> 
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div> 

<div class="color">
  <p>The Medcare Services and Investment co. was established and opening since December 2014, with headquarter located in no. 2, block 22A, Le Hong Phong St, Ngo Quyen dist., Hai Phong, Vietnam. With the vision of long term strategy and the passion to bring forth quality medical service, professionally delivered to community since the first opening date. The MedCare has planned to deploy many projects.</p>
  <p>The first milestone reach by us was marked with the project as the first international pediatric clinic following JCI standard from United States. Starting at Haiphong port city, after five months of construction, The MedCare international pediatric clinic Hai Phong has formally completed and come into operation, starting on 11/06/2015.</p>
  <p>Follow the success of The MedCare international pediatric clinic Haiphong, starting in 08/2016, the project of The MedCare international pediatric clinic Hanoi was deployed and completed in 12/2016.</p>

  <p>With a range of services included clinical, comprehensive clinical, care of illnesses and pharmacy in both clinical branches from Haiphong and Hanoi, we continuously expand and develop extra healthcare service to meet the public demand.</p>
  <h3>Until 09/2018, Healthcare service system The Medcare has shown itself through important milestone included:</h3>
  <p>12/2014: Establishment of the Medcare Services and Investment co.

    03/2015: Thành lập Chi nhánh Hải Phòng
    
    06/2015: Opening of International pediatric clinic Haiphong
    
    12/2016: Opening of International pediatric clinic Hanoi
    
    12/2017: International pediatric clinic Haiphong serve an average of 100 patients daily
    
    06/2018: Opening of vaccination center – nutritional center in International pediatric clinic Haiphong
    
    07/2018: International pediatric clinic Haiphong serve an average of 130 patients daily
    
    </p>
    
  </div>

<div class="row">
<div class="col-8-md">
  <img src="" alt="" srcset="">
</div>
<div class="col-4-md">

</div>

</div>


</body>
</html>
{% endblock %}