<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Category</h1>
    <form method="post" action="{% url 'add_category' %}">
        {% csrf_token %}
        <label for="category_name">Category Name:</label>
        <input type="text" id="category_name" name="category_name" required>
        <button type="submit">Add Category</button>
    </form>

    {% if add %}
        <p>{{ add }}</p>
    {% endif %}
        
     </div>   
</body>
</html>

