{% extends 'pharmacy/homep.html' %}
{% block content %}
{% load static %}
<h1>Order History</h1>

 
    <table>
        <thead>
            <!-- <tr> -->
                <!-- <th>Slno:</th>
                <th>Company Name</th>
                <th>Pharmacy Name</th>
                <th>Medicine Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Status</th>
            </tr> -->
        </thead>
        <tbody>
            {% for i in cmpny_histry %}

            <tr>
                
                <td>{{ forloop.counter}}</td>
                <td><img src="{{i.product_id.Image.url}}" width="90" height="110" alt="" srcset=""></td>

                <!-- <td> {{i.product_id.company_id.first_name}}</td> -->
                <td>{{ i.pharmacy_id.first_name }}</td>
                <td>{{ i.product_id.name }}</td>
                <td>{{ i.quantity }}</td>
                <td>&#8377 {{ i.total_amount }}</td>
                <td>
                    {% if i.status == 'ACCEPT' %}
                    <p class="text-success fw-bold">{{ i.status }}</p>
                    {% elif i.status == 'REJECT' %}
                    <p class="text-danger fw-bold">{{ i.status }}</p>
                    {% else %}
                    <p>{{ i.status }}</p>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   
    <style>
        body {
            font-family: Arial, sans-serif;
           
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            color: #333;
            margin-top: 20px;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
        }

        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #ffffff;
            color: white;
            font-weight: bold;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        td {
            color: #333;
        }

        .no-orders {
            text-align: center;
            margin: 20px;
            font-size: 1.2em;
            color: #777;
        }
    </style>
    {% endblock %}