{% extends 'pharmacy/homep.html' %}
{% block content %}
{% load static %}
        {% if Orders %}
        <div style="display:flex;flex-wrap: wrap;">
            {% for i in Orders %}
            <div class="divmain mr-5 ml-5 mb-5">
                <div style="padding: 20px; justify-content:space-between;">
                    <p hidden>{{ i.id }}</p>
                    <h2>{{ i.user_id.username }}</h2>
                    <h1> &#8377 {{ i.total_amount }}</h1>
                    <h3>{{ i.order_date }}</h3>
                    
                    <div style="display: flex;justify-content: center ; margin-top:20px">
                        <a href="{% url 'userorder_view' id=i.id %}"><button type="submit">View</button></a>
                        <a href="{% url 'chek_user_delivery' id=i.id %}"><button type="submit" style="margin-left:30px;">Check</button></a>
                    </div>
                         

                    </div>
            </div>
            {% endfor %}
        </div>
      
    {% else %}
        <p>No orders found.</p>
    {% endif %}

    <div class="div1">
      

    </div>
    

    <div class="pagination mt-3 d-flex justify-content-center mb-4">
        <ul class="pagination">
            {% if Orders.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ Orders.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
            {% endif %}
    
            {% for num in Orders.paginator.page_range %}
                {% if Orders.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > Orders.number|add:"-3" and num < Orders.number|add:"3" %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
    
            {% if Orders.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ Orders.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
            {% endif %}
        </ul>
    </div>

     <style>
        
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0px;
        }
        a{
            text-decoration: none;
        }
        
        .container {
            max-width: 800px;
            margin: auto;
            background: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        button {
            padding: 8px 16px;
            background-color: #0e1a27;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 20px;
        }
        
        
        button:hover {
            background-color: #0f0f0f;
        }
        
        h2 {
            text-align: center;
            color: #343a40;
        }
        .divmain{
            display: flex;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width:fit-content;
            padding: 40px;
        }
        h1 {
            color: #1e362a;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            align-items: center;
          
          }
          
          p {
            color: #1e362a;
            font-size: large;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
              color: #555;
          }

          


.pagination .page-link {
    border-radius: 50%;
    color: #000000;
    margin-left:5px;
    font-weight: bold;
}

.pagination .page-link:hover {
    background-color: #f0f0f0;
    margin-left:5px;
}

.pagination .active .page-link {
    background-color: #000000;
    color: white;
    border-radius: 50%;
    border: none;
    margin-left:5px;
    margin-right: 5px;

}

.pagination .disabled .page-link {
    color: #ccc;
    margin-left:5px;
}

    </style>
    {% endblock %}
   

