<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Customer List</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Date Joined</th>
                
            </tr>
        </thead>
        <tbody>
            {% for i in delivery %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.pharmacy_id.first_name }}</td>
                <td>{{ i.strength}}</td>
                <td>{{ i.price }}</td>
                <td>{{ i.quatity }}</td>
                
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No customers found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>