<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
                      <div>
                            {% if data %}
                            <table style="width: 95%;" class="table table-hover ms-4 ">
                                <thead>
                                  <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                  <tr>
                                    {% for i in data %}
                                    <td>{{ i.name }}</td>
                                    
                                    {% if i.user_id.status == "pending" %}
                                    <form action="{% url 'admin_status' id=i.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="status">
                                        <td><input type="submit" name="status" value="accept"></td>
                                        <td><input type="submit" name="status" value="reject"></td>
                                    </form>
                                    {% endif %}
                                    <div>
                                        {% if i.user_id.status == "accept" %}
                                        <td>Accepted</td>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% if i.user_id.status == "reject" %}
                                        <td>rejected</td>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </tr>
                                </tbody>
                              </table>
                              {% else %}
                              <div>
                                <p>No pendings<p>
                              </div>
                              {% endif %}
                          
                          </div>

</body>
</html>