{% extends 'user/userhome.html' %}
{% block content %}
{% load static %}
    <div class="container">

        <div>
            <img src="{% static 'user\check.png' %}" alt="" srcset="" width="100px" height="100px">
            <h1>Cure Nest</h1>
        </div>

        <h2>Cash on Delivery - Order Confirmation</h2>
        <h2>Your Order Sucessfully Placed</h2>
        <p>Thank you for your order!</p>
        
       
        <div class="confirmation-message">
            <p>Your order will be confirmed once the payment is received by the delivery personnel. Please keep the exact amount ready for a smoother transaction.</p>
            <!-- <p>We will notify you once your order is confirmed and ready for delivery.</p> -->
        </div>
       <a href="{% url 'user_home' %}"><button class="btng"  type="button"> Continue shopping </button></a>
    </div>
    <style>
        
        
        .container {
            background-color: #fff;
            padding: 20px;
            max-width: 600px;
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
           justify-content: center;
           align-items: center;
           margin-top: 20px;
        }
        
        h2 {
            color: #333;
            margin-bottom: 20px;
        }
        
        h3 {
            color: #555;
            margin-bottom: 15px;
        }
        
        p {
            color: #666;
            line-height: 1.6;
        }
        
        
        
        
        
        .btng {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #28a745;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            border-color: transparent;
            transition: background-color 0.3s ease;
        }
        
        .btn:hover {
            background-color: #218838;
        }
        
        .confirmation-message {
            margin-top: 20px;
            padding: 15px;
            background-color: #e2f7e2;
            border-radius: 8px;
            border: 1px solid #c3e6c3;
            color: #155724;
        }
    </style>
    {% endblock %}