{% extends 'user/userhome.html' %}
{% block content %}
{% load static %}
<div class="searchbar">
  <div style="display: flex;align-items: center;justify-content:center;margin-top:50px;">
    <div class="srchbar">
     
      <form action="{% url 'search_medicines_scnd' %}" method="POST">
          {% csrf_token %}
          <div class="srch" style="position: relative; max-width: 500px;">
              <input 
                  type="search" 
                  placeholder="Search user by Name" 
                  name="search" 
                  style=" padding-right: 40px; padding-left: 10px; height: 40px; border: 1px solid #ccc; border-radius: 5px;" 
              >
              <button 
                  type="submit" 
                  style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); border: none; background: transparent; cursor: pointer;"
              >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
              </button>
          </div>
      </form>
     </div>
  </div>
</div>
<div class="medicine-container">
{% if medicines %}
  {% for medicine in medicines %}
      <div class="card" style="width: 16rem;">
          <div class="image-container" style="position: relative;">
              <img src="{{ medicine.Image.url }}" class="card-img-top" alt="data" width="50" height="200">
              <div class="wishlist-icon" style="position: absolute; top: 10px; right: 10px;">
                  {% if medicine.id in wish_list_ids %}
                  <a href="{% url 'remove_to_wishlist1' id=medicine.id %}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                      </svg>
                  </a>
                  {% else %}
                  <a href="{% url 'add_to_wishlist1' id=medicine.id %}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-heart-fill" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                      </svg>
                  </a>
                  {% endif %}
              </div>
          </div>
          <div class="card-body">
              <a href="{% url 'medicine_view' id=medicine.id %}">
                  <h3 class="card-title" style="text-align: center;overflow: hidden;-webkit-box-orient: vertical;display: -webkit-box;-webkit-line-clamp: 1;"> {{ medicine.name }}</h3>
              </a>
              <p class="card-text">₹ {{ medicine.price }}</p>
              <p class="card-text">qty:{{ medicine.quantity }}</p>
              <p class="card-text">{{ medicine.category_name }}</p>
              <div>
                  <a href="{% url 'add_to_cart' id=medicine.id %}">
                      <button type="submit" class="btn bg-dark text-white">Add to Cart</button>
                  </a>
                  <a href="">
                      <button type="submit" class="btn bg-dark text-white">Buy now</button>
                  </a>
              </div>
          </div>
      </div>
  {% endfor %}
  {% else %}
  <p> NO Such Medicine Found .</p>
  {% endif %}
  </div>
  
<div class="pagination mt-3 d-flex justify-content-center mb-4">
  <ul class="pagination">
      {% if medicines.has_previous %}
          <li class="page-item">
              <a class="page-link" href="?page={{ medicines.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
              </a>
          </li>
      {% else %}
          <li class="page-item disabled">
              <span class="page-link">&laquo;</span>
          </li>
      {% endif %}

      {% for num in medicines.paginator.page_range %}
          {% if medicines.number == num %}
              <li class="page-item active"><span class="page-link">{{ num }}</span></li>
          {% elif num > medicines.number|add:"-3" and num < medicines.number|add:"3" %}
              <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
      {% endfor %}

      {% if medicines.has_next %}
          <li class="page-item">
              <a class="page-link" href="?page={{ medicines.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
              </a>
          </li>
      {% else %}
          <li class="page-item disabled">
              <span class="page-link">&raquo;</span>
          </li>
      {% endif %}
  </ul>
</div>


<style>

  .image-container {
    position: relative;
}

.wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}


  .medicine-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }

  .card {
    box-sizing: border-box;
    margin-top: 10px;
  }

  .btn-primary {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 10px;
    border: none;
  }

  .btn-primary:hover {
    background-color: #000000;
  }

  a {
    text-decoration: none;
    color: #000;
  }
  a:hover{
    text-decoration:none;
    color: #000;
  }
  p{
    text-align: center;
  }

  button a:hover {
    text-decoration:none;
    color: #000;
  }
  .srch{
    display: flex;
    border: #000000;
    border-radius:20px;
    justify-content: center;
    align-items: center;
  
  }
  
  input[type="search"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 700px;
    height: 50px;
    box-sizing: border-box;
    margin-top:25px;
    border-radius:25px;
    margin-bottom: 20px;
 
}

input[type="submit"] {
   
    border-radius: 20px;
    background-color: #ffffff;
   
    text-align: center;
    cursor: pointer; 
    margin-left:10px;
   
    width: 70px;
    height:50px;

}

.search {
    height: 100px;
    float: left;
    margin-left:25px;
    margin-right: 20px;
    align-items:center;
    justify-content: center;
    margin-top: 35px;
  
}

  .pagination .page-link {
    border-radius: 50%;
    color: #000000;
    margin-left:5px;
    font-weight: bold;
}

.pagination .page-link:hover {
    background-color: #f0f0f0;
    margin-left:5px;
}

.pagination .active .page-link {
    background-color: #000000;
    color: white;
    border-radius: 50%;
    border: none;
    margin-left:5px;
    margin-right: 5px;

}

.pagination .disabled .page-link {
    color: #ccc;
    margin-left:5px;
}

</style>

{% endblock %}