{% extends 'user/userhome.html' %}
{% block content %}
{% load static %}

{% for medicine in medicines %}
<div class="display">
<div class="card" style="width: 16rem;">
  <div style="display: flex;justify-content:end;padding-right: 10px;padding-top: 10px;">
    {% if medicine.id in wish_list_ids %}
    <a  href="{% url 'remove_to_wishlist1' id=medicine.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
    </svg></a>
    {% else %}
    <a  href="{% url 'add_to_wishlist1' id=medicine.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-heart-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
    </svg></a>
    {% endif %}
  </div>
  <img src="{{ medicine.Image.url }}" class="card-img-top" alt="data">
  <div class="card-body">
    <a href="{% url 'medicine_view' id=medicine.id %}"><h3 class="card-title">Name: {{ medicine.name }}</h3></a>
    <!-- <p class="card-text">Description: {{ medicine.description }}</p> -->
    <p class="card-text"> {{ medicine.price }}</p>
    <p class="card-text"> {{ medicine.quantity }}</p>
    <p class="card-text"> {{ medicine.category_name }}</p>
    <div>
    <a  href="{% url 'add_to_cart' id=medicine.id %}" ><button type="submit" class="btn bg-dark text-white">Add to Cart</button></a>
    <a  href="{% url 'add_to_wishlist' id=medicine.id %}"><button type="submit" btn bg-dark text-white>wishlist</button></a>
  </div>
  </div>
</div>
</div>
<style>
  .display {
    text-align: center;
    text-decoration: none;
    display:inline-flex;
    gap: 10px;
    margin-top: 10px;
    margin-right:10px;
    
}
a{
  text-decoration:none;
}
button a:hover {
  text-decoration: underline;
}

.btn-primary {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 10px;
  border: none;
}

.btn-primary:hover {
  background-color: #000000;
}

.button {
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

</style>
{% endfor %}  
{% endblock %}