<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      {% if order_items %}
      {% for item in order_items %}
          <div class="cart-item">
              <p>{{ item.medicine_id.name }}</p>
              <p>{{ item.medicine_id.quantity }} </p>
              <p>{{ item.medicine_id.price }}</p>

          </div>
        
      {% endfor %}
      
  {% else %}
      
  {% endif %}

</div>

</div>

</body>
</html>