{% extends 'user/medicine_pharmacy.html' %}
{% block content %}
 <!--
<div class="container">

    <div class="image_frame"> 
      <img src="" alt="" style="width: 90px;height: 100px;border-radius: 30px;margin-top:80px;margin-left:300px;">
     </div>
     <div class="detailss">
      <div class="line1">
        <label for="name"><b>name</b></label>
        <p>{{ data.first_name }}<br></p>
        <label for="Email"><b>Email</b></label><br>
        <p>{{data.email}}<br></p>
        <label for="Address"><b>Address</b></label><br>
        <p>{{ data.address }}<br></p>
        <label for="age"><b>Age</b></label><br>
        <p>{{ data.age }}<br></p>
        </div>
        <div class="line2">
        <label for="username"><b>Username</b></label><br>
        <p>{{data.username}}<br></p>
        <label for="DOB"><b>DOB</b></label><br>
        <p>{{ data.dob }}<br></p>
        <label for="Phonenumber"><b>Phonenumber</b></label><br>
        <p>{{data.phone_number}}<br></p>
      </div>
        <a href="{% url 'edit_profile' %}"><button type="submit">Editprofile</button></a>
      </div>
      </div>
    <style>
        .container{
            background-color: #102C57;
            width: 700px;
            color: white;
            height:auto; 
            margin-top: 20px;
            margin-left: 20px;
            border-radius: 20px;
            align-items: center;
            justify-content: center;
            margin-left: 400px;
            margin-top: 10px;
          }
          .container label{           
            color: white;
            text-align:start;
            padding-left: 0px;
            text-align: center;
            margin-bottom:25px;

          }

          .container p{
            color: white;
            text-align:end;
            padding-right: 0px;
            text-align: center;
            margin-bottom: 35px;


          }
          .detailss{
            align-content: center;
            display:inline-flex;
            text-align: center;
            margin-left:100px;
           
            margin-top:20px;
            

          }
          .line1{
          float:inline-start;
          margin-right: 200px;
          margin-top: 30px;
          margin-bottom: 15px;
          border: white;
          }
          .line2{
            float:inline-end;
            margin-bottom: 35px;
            margin-top: 50px;
          
          }
        button{
            border-radius: 40px;
            border: transparent;
            margin-left: 400px;
            margin-top:0px;
            width: 50px;
            height:50px;

          }
        
        .row{
            justify-content: center;
            font-size:large;
            margin-top:40px;
            
         }
        label{
            margin-top: 10px;
            margin-bottom:5px;
            font-weight:bolder;
        }
        
   
          h1{
           
           
            color:#1e362a;
            margin-top:20px;
            margin-bottom:20px;
            text-align: center;
            
          
          }
          a{
              text-decoration: none; 
              color: white;
              font-weight:bold;
          }
        
          p{
            color:#1e362a;
            font-size:large;
            font-weight: bold;
            margin-top:20px;
            margin-bottom:20px;
            text-align: center;
          }
      
    </style>


my own
-->


<div class="profile-container">
  <div class="profile-header">
      <img src="{{data.Image.url}}" alt="Profile Image" class="profile-img">
      <h2>{{ data.first_name }}'s Profile</h2>
  </div>

  <!-- <form method="POST" action=""> -->
      {% csrf_token %}
      <div class="profile-details">
          <div class="profile-column">
              <label for="first_name">Name</label>
              <input type="text" id="first_name" name="first_name" value="{{ data.first_name }}" required>

              <label for="email">Email</label>
              <input type="email" id="email" name="email" value="{{ data.email }}" required>

              <label for="address">Address</label>
              <input type="text" id="address" name="address" value="{{ data.address }}">

              <label for="age">Age</label>
              <input type="number" id="age" name="age" value="{{ data.age }}">
          </div>

          <div class="profile-column">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" value="{{ data.username }}" readonly>

              <label for="dob">Date of Birth</label>
              <input type="date" id="dob" name="dob" value="{{ data.dob|date:'d-m-y' }}">

              <label for="phone_number">Phone Number</label>
              <input type="text" id="phone_number" name="phone_number" value="{{ data.phone_number }}">
              
            </div>
      </div>

      <div class="edit-profile">
          <!-- <button type="submit" class="edit-btn">Save Changes</button> -->
          <a href="{% url 'edit_profile' %}"><svg xmlns="http://www.w3.org/2000/svg" height="25" width="25"  viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"/></svg></a>
        </div>

</div>

<style>
  /* General Container Styling */
  .profile-container {
      background-color: #1e3d73;
      color: white;
      width: 600px;
      padding: 20px;
      border-radius: 15px;
      margin: 40px auto;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      text-align: center;
  }

  /* Header Image and Name */
  .profile-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
  }

  .profile-img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 15px;
  }

  h2 {
      font-size: 24px;
      color: #fff;
      margin-bottom: 10px;
  }

  /* Profile Details */
  .profile-details {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
  }

  .profile-column {
      text-align: left;
      width: 45%;
      margin-right: 20px;
  }

  label {
      display: block;
      font-weight: bold;
      color: #d3e0f2;
      margin-bottom: 5px;
      font-size: 14px;
  }

  input {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border-radius: 5px;
      border: none;
      background-color: #3a507f;
      color: white;
      font-size: 14px;
  }

  input:focus {
      outline: none;
      border: 2px solid #29a19c;
      background-color: #3a507f;
  }

  /* Edit Button */
  .edit-profile {
      margin-top: 20px;
      text-align:end;
  }

  .edit-btn {
      background-color: #29a19c;
      border: none;
      color: white;
      padding: 12px 20px;
      border-radius: 25px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  }

  .edit-btn:hover {
      background-color: #1f827a;
  }

  /* Responsive Styles */
  @media (max-width: 768px) {
      .profile-container {
          width: 90%;
          padding: 20px;
      }

      .profile-details {
          flex-direction: column;
          align-items: center;
      }

      .profile-column {
          width: 100%;
          text-align: center;
          margin-bottom: 20px;
      }
  }
</style>

{% endblock %}
