
{% extends 'pharmacy/homep.html' %}
{% block content %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>edit profile form - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    				                
   
.avatar{
width:200px;
height:200px;
}				              
    </style>
</head>
<body>
<div class="container bootstrap snippets bootdey">
    <!-- <h1 class="text-dark">Edit Profile</h1> -->
      <hr>
	<div class="row">
      <!-- left column -->
      
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
       
        <h3>Personal info</h3>
        
        <form action="{% url 'edit_pharm' %}" method="POST" enctype="multipart/form-data" class="form-horizontal" role="form">
          {% csrf_token %}
          <div class="form-group">
            <div class="text-center">
              <img src="{{data1.Image.url}}" class="avatar img-circle img-thumbnail" alt="avatar" >
              <h6></h6>
              
              <input type="file" name="Image" class="form-control" style="width: fit-content;margin: auto;">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" name="Name" type="text" value="{{datas.first_name}}">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-lg-3 control-label">Address:</label>
            <div class="col-lg-8">
              <input class="form-control" name="Address" type="text" value="{{datas.address}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
 
              <input class="form-control" name="Email" type="text" value="{{ datas.email }}">
            </div>
          </div>
          <div class="form-group">
            
          <div class="form-group">
            <label class="col-lg-3 control-label">Phone number:</label>
            <div class="col-lg-8">
              <input class="form-control" name="Phonenumber" type="text" value="{{datas.phone_number}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Place:</label>
            <div class="col-lg-8">
              <input class="form-control" name="place" type="text" value="{{datas.place}}">
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-lg-3 control-label">Username:</label>
            <div class="col-lg-8">
              <input class="form-control" name="UserName" type="text" value="{{datas.username}}">
            </div>
          </div>
          <<div class="text-center">
            <img src="{{datas.Image.url}}" class="avatar img-circle img-thumbnail" alt="avatar" >
            <h6></h6>
            
            <input type="file" name="Image" class="form-control" style="width: fit-content;margin: auto;">
          </div>
        </div>
          <div class="form-group">
            
            <div class="col-lg-8">
              <input class="form-control"  type="submit" style="width: fit-content;margin: auto;background-color: rgb(1, 1, 251);color: white;font-weight: bold;">
            </div>
          </div>
          
        </form>
      </div>
  </div>
</div>
<hr>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
{% endblock %}